<%- include("partials/head") %>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: black;
      }
      .navigation {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        list-style-type: none;
        background-color: orange;
        height: 30px;
        padding: 15px 10px;
        margin-bottom: 10px;
        font-weight: 700;
      }
      #gotohome{
        margin-top: 10px;
        font-size: 1.3rem;
        padding: 0.5rem 1rem;
        background-color: bisque;
        border-radius: 7px;
      }
    </style>
  </head>
  <body>
    <header>
    <%- include("partials/navbar") %>
      <h1>Home Registered Successfully</h1>
    </header>
    <main>
      <button id="gotohome"><a href="/">Go To Home</a></button>
    </main>
  </body>
</html>
