<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Your Home</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Enter your Home Details</h1>
    </header>
    <main>
      <form action="/host/add-home" method="POST">
        <input
          type="text"
          name="home-name"
          placeholder="Enter Home name"
        /><br /><br />
        <input type="submit" value="DONE" />
      </form>
    </main>
  </body>
</html>
