<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Home</title>
    <style>
      body {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Welcome to Airbnb</h1>
    </header>
    <main>
      <h2>find the best for you from anywhere</h2>
      <button>
        <a href="/host/add-home">ADD HOME </a>
      </button>
    </main>
  </body>
</html>
